<!DOCTYPE html>
<html>
	<head> 
  	<?php require_once 'header.php'; ?>
  	<meta name="keywords" content="web，开发"/>
  	<meta name="descripion" content="铜川本地专业建站，最好的云网络工作室，最完美的web开发解决方案"/>
  	<meta name="image" content="http://guweihua.yun.93me.com/logo.png">
  	<title>web 开发</title> 
  	</head>
<body class="typo">
    <nav class="top-nav">
        <div class="container">
          <div class="nav-wrapper"><h3><a class="page-title">web 开发</a></h3></div>
        </div>
     </nav>
    <div class="container">
      <ul class="collection with-header">
        <li class="collection-header"><h4>前端开发</h4></li>
        <li class="collection-item">HTML/CSS</li>
        <li class="collection-item">JavaScript</li>
        <li class="collection-item">CSS3</li>
        <li class="collection-item">Html5</li>
	<li class="collection-item">jQuery</li>
        <li class="collection-item">bootstrap</li>
        <li class="collection-item">前端工具</li>
      </ul>
        <ul class="collection with-header">
        <li class="collection-header"><h4>后端开发</h4></li>
        <li class="collection-item">PHP</li>
        <li class="collection-item">JAVA</li>
        <li class="collection-item">Python</li>
        <li class="collection-item">数据结构</li>
      </ul>
     </div>      

</body>
</html>
